<div class="row">
    <div class="col-10">
        <input #termino class="form-control" type="text" (keyup)="buscar( termino.value )" placeholder="Buscar artista">
    </div>
    <div class="col-2">
        <button class="btn-primary btn btn-block" (click)="buscar( termino.value )">Buscar</button>
    </div>
</div>


<h2 class="mt-3">Resultdo de: <small>{{ termino.value }}</small></h2>
<app-loading *ngIf="loading"></app-loading>
<div class="card-columns">
    <div class="card animated fadeIn puntero" (click)="verArtist(artists)" *ngFor="let artists of artists">
        <img [src]="artists.images | noimages" class="card-img-top animated fadeIn" alt="...">
        <div class="card-body">
            <div class=" animated fadeIn fast">
                <h5 class="card-title">{{ artists.name }}</h5>
                <div>
                    <span class="badge badge-pill badge-primary" *ngFor="let genres of artists.genres" > {{ genres }} </span>
                </div>
            </div>
            <p class="card-text">Seguidores: <small class="text-muted">{{ artists.followers['total'] | number }}</small></p>
        </div>
    </div>
</div>